<%- include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <h1><%= title %></h1>
            <div class="alert alert-danger">
                Category not found.
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
