<%- include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-32">
            <% if (message) { %>
                <div class="alert alert-dismiss fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close float-end" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong><%= message.message %></strong>
                </div>
            <% } %>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="table-dark text-center">
                            <th>ID</th>
                            <th>Image</th>
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td><img src="" alt=""></td>
                        <td>Sasuke Shirt</td>
                        <td>Cool Sasuke Shirt</td>
                        <td>69$</td>
                        <td>100</td>
                        <td>Shirts</td>
                        <td>
                            <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>